footer {
  padding: 50px 100px;
  background-color: #151515;
  transform: translateY(25px);

  h2 {
    font-size: 4.3rem;
  }

  .email {
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;

    &:hover {
      border-bottom: 2px solid white;
    }
  }

  .d-flex {
    margin-top: 80px;
    align-items: flex-end;
    justify-content: space-between;

    p {
      margin: 0;
    }

    .social-links {
      a {
        text-decoration: none;
        margin: 0 5px;

        img {
          height: 35px;
        }
      }
    }
  }
}


@media screen and (max-width : 600px){
  footer{
    padding: 5%;

    .email{
      font-size: 0.9rem;
    }

    h2{
      font-size: 1.5rem;
    }

    .footer-bottom{
      flex-direction: column-reverse;
      align-items: flex-start;
      p{
        width: 100%;
      }

      .social-links{
        // background-color: aqua;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 5% 0;

        a{
          padding: 0 3% 0 0;
        }
      }
    }
  }
}