.hero_section {
  height: 100vh;
  width: 100%;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

nav {
  background-color: $black;
}

.navbar-brand {
  color: #ffffff;
  font-weight: 800;
}

.container-fluid {
  padding: 0.5% 5%;
  width: 100%;
}

.navbar-wrapper {
  display: flex;
}

.navbar-collapse {
  display: flex;
  justify-content: center !important;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sm-links {
  a {
    text-decoration: none;
    margin: 0 5px;

    img {
      height: 37px;
    }
  }
}

.hero_section_bottom {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

.hero_section_bottom_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_text_wrapper {
  width: 90%;
  max-height: 200px;
}

.hero_text {
  font-size: 5rem;
  font-weight: 800;
  position: relative;
  z-index: 9;
  // top: 5;
}

.hero_text_stroke {
  color: #ffffff;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  position: relative;
  bottom: 195px;
  right: 1.5px;
  z-index: 1;
}

.biohazard_icon {
  transform: scale(0.75);
  position: absolute;
  bottom: 8%;
  right: 5%;
}

@media screen and (max-width: 1000px) {
  .sm-links {
    display: none;
  }
}
