@import "./varaibles";
@import "./fonts";
@import "./hero_section";
@import "./about";
@import "./creators";
@import "./footer";

// Global Styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: #fff;
  font-family: Outfit, sans-serif;
}

main {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@media  screen and (max-width : 600px) {
  html{
    width: 100vw;
  }
  body{
    width: 100%;
  }

  main{
    width: 100%;
    overflow-x: hidden;
  }

  html,body{
    overflow-x: hidden !important;
}

  // .navbar-brand{
  //   background-color: lightblue;
  //   font-size: 0.8rem;
  //   width: 30%;
  // }
  
}