@import "./varaibles";
@import "./fonts";
@import "./hero_section";
@import "./about";
@import "./creators";
@import "./footer";

// Global Styles

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  color: #fff;
  font-family: Outfit, sans-serif;
}

main {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
