
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	width: 100vw;
	font-family: 'Outfit', sans-serif;
	color: #ffffff;
}

main{
	width: 100%;
	background-image: url('background.png');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-brand{
	font-size: 1.3rem;
	text-transform: uppercase;
}

.img-wrap{
	width: 100%;
}
/* background image */
.bg-img{
	width: 100%;
	object-fit: fill;
}



header{
	/* background-color: #151515;
	font-family: "Proxima Nova Black"; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 5%;
	color: #ffffff;
}

.sm-links{
	display: flex;
	align-items: center;
	/* background-color: blue; */
	
	justify-content: space-evenly;
}

svg{
	/* background-color: lightblue; */
	transform: scale(1.1);
	margin: 0 15px;
}


.sm-icon{
	color: #ffffff !important;
}



.twitter-bt{
	border-radius: 8px 0 0 8px;
	border-right: 0;
}

.insta-bt{
	border-radius: 0 8px 8px 0;
	border-left: 0;
	
}



.linetext{
	color: #ffffff;
	font-family: 'Outfit', sans-serif;
	font-size: 1rem;
	letter-spacing: 1px;
}

.hero_text{
	/* position: absolute; */
	/* bottom: 12%; */
	/* padding: 2% 5%; */
	font-size: 3rem;
	width: 40%;
}

.biohazard-text{
	display: flex;
	align-items: center;
	justify-content: center;
	/* background-color: lightgreen; */
	
	

	/* background-color: lightcoral; */
	/* width: 100%; */
	/* z-index: 2; */
	/* position: absolute; */
	/* bottom: 22%; */
	/* padding: 0 5%; */
}

.biohazard{
	height: 20px;
	margin-right: 5px;
}

.bottom-text{
	display: flex;
	align-items: center;
	/* position: absolute; */
	/* bottom: 8%; */
	/* padding: 2% 5%; */
	/* background-color: lawngreen; */
	/* width: 100%; */
}


.btn{
	background-color: #ffffff;
	text-decoration: none;
	border: 3px solid #ffffff;
	padding: 15px 30px;
	border-radius: 10px;
	color: #151515;
	/* display: flex;
	align-items: center; */
	transition-duration: 0.3s;
}


.btn:hover{
	/* background-color: aquamarine; */
	padding: 16px 32px;
	/* font-size: 1rem; */
}

/* .sec-btn-wrapper{
	max-width: 30%;
} */

.sec-btn{
	/* background-color: lightcoral; */
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #ffffff;
	margin-bottom: 5px;
	
}


.sec-btn:after{
	content: "";
	position: absolute;
	background-color: #ffffff;
	height: 1.5px;
	margin-top: 35px;
	
	width: 0%;
	transition: 0.3s;
}

.sec-btn:hover:after{
	width: 8.8%;
}



.discord-logo{
	margin-right: 10px;
	position: relative;
	top: 2px;
	padding: 0;
	margin-left: 0;	
	color: #151515;	
	}

	footer{
		/* background-color: lightcoral; */
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 2% 5%;
		position: absolute;
		bottom : 5%;
		align-items: center;
	}

/* @media only screen and (min-width : 620px){
	footer{
		display: none;
	}
} */

	.centered_section{
		position: absolute;
		bottom: 25%;
		width: 100%;
	}


@media only screen and (max-width : 970px) and (min-width : 600px){
	.centered_section{
		display: none;
	}

	.btn-container{
		width: 50%;
	}
}

@media only screen and (max-width: 600px) {
	.centered_section{
		display: none;
	}
	body {
		overflow: hidden !important;
		max-height: 100%;
		max-height: -webkit-fill-available;
	}

	html {
	height: -webkit-fill-available;
	}
	
	header{
		padding-top: 10%;
		padding-right: 0;
		padding-left: 0;
	}

	.sm-links{
		width: 100%;
		justify-content: center;
		
	}

	
	svg{
		margin: 0 20px;
	}

	section{
		bottom: 20%;
	}

	.hero_text{
		text-align: center;
		font-size: 2rem;
		width: 100%;
	}
	.sec-btn{
		display: none;
	}
	footer{
		flex-direction: column-reverse;
		bottom: 5%;
		justify-content: space-between;
	}

	.btn{
		position: relative;
		bottom: 50px;
	}

	a{
		text-decoration: none;
	}
	

	p{
		margin: 5px 0 0 0;
		font-family: 'Outfit',sans-serif;
		font-weight: 400;
		font-size: 0.8rem;
	}

	
}
