@font-face {
  font-family: "Proxima Nova Black";
  src: url("Proxima Nova Black.woff");
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	width: 100vw;
}

main{
	width: 100%;
	background-image: url('Backdrop.png');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.nav-brand{
	font-size: 1.3rem;
	text-transform: uppercase;
}

.img-wrap{
	width: 100%;
}
/* background image */
.bg-img{
	width: 100%;
	object-fit: fill;
}



header{
	background-color: #151515;
	font-family: "Proxima Nova Black";
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1% 10%;
	color: #ffffff;
}

.sm-links{
	display: flex;
	align-items: center;
}

.sm-link{
	/* font-size: 15px; */
	padding: 15%;
	color: #ffffff;
	border: 2px #FBB2C5 solid;
	transition-duration: 200ms;	
}

.sm-link:hover{
	background-color: #FBB2C5;
}


.twitter-bt{
	border-radius: 8px 0 0 8px;
	border-right: 0;
}

.insta-bt{
	border-radius: 0 8px 8px 0;
	border-left: 0;
	
}

.fa-instagram{
	transform: scale(1.1);
}
section{
	width: 100%;
	padding: 3% 10%;
	position: absolute;
	bottom: 0%;
	display: flex;
	justify-content: center;
}
.linetext{
	color: #ffffff;
	font-family: 'Outfit', sans-serif;
}


@media only screen and (min-width : 620px){
	footer{
		display: none;
	}
}

@media only screen and (max-width: 600px) {

	body {
		height: 100vh;
	}
	header{
		padding: 2% 5%;
		justify-content: center ;
	}

	.nav-brand{
		font-size: 1rem;
	}

	.sm-links{
		display: none;
	}

	section{
		bottom: 20%;
	}

	footer{
		position: absolute;
		bottom : 0%;
		background-color: #151515;
		width: 100%;
		padding: 6% 1%;
		display: flex;
		justify-content: center;
		border-radius: 15px 15px 0 0;
	}

	.mob-sm-links{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.mob-sm-link{
		color : #ffffff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* .mob-sm-link:hover{
		background-color: #FBB2C5;
	} */

	a{
		text-decoration: none;
	}
	

	p{
		margin: 5px 0 0 0;
		font-family: 'Outfit',sans-serif;
		font-weight: 400;
		font-size: 0.8rem;
	}

	
}
